body,
    html {
        background-image: url(./img/background/trees_sky_background.jpg);
        color: rgb(0, 0, 0);
        font-family: 'Waiting for the Sunrise', cursive;
        text-align: center;
        text-transform: uppercase;
    }

    h1 {
        font-size: 42px;
        margin: 0vw;
        font-weight: lighter !important;
    }
    h2{
        margin: 0vw;
    }

    .cell {
        width: 60px;
        height: 60px;
        line-height: 60px;
        border: 1px solid #aaa;
        display: inline-block;
        margin: 10px;
        font-size: 40px;
        border-radius: 10%;
    }
#title {
    max-width: fit-content;
    margin: 10px auto;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(141, 170, 127, 0.678);
}

#gridBG {
    max-width: fit-content;
    margin: 10px auto;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(141, 170, 127, 0.575);
}

.button{
    height: 5rem;
    width: 5rem;
}